@model IEnumerable<Parsmount2.Models.t1>

@{
    ViewBag.Title = "DisplayProduct";
}

<h2>DisplayProduct</h2>

<p>
    @Html.ActionLink("Create New", "CreateProduct")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.c2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.c3)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.c2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.c3)
        </td>
        <td>
            @Html.ActionLink("Edit", "UpdateProduct", new { id=item.c1 }, new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Details", "Details", new { id=item.c1 }, new { @class = "btn btn-success" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.c1 }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
